* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
  user-select: none;
}
body {
  height: 100%;
  overflow: hidden;
  font-family: 'Hammersmith One';
  &.is-focus {
    cursor: pointer
  }
}
a {
  color: #fff;
}
canvas {
  position: absolute;
}
.information {
  height: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20000;
  .info-modal {
    width: 90%;
    max-width: 900px;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
    line-height: 1.75;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 5% auto;
    z-index: 20002;
    border-radius: 4px;
    background-color: #FFF;
    transition: 0.2s;
    transition-timing-function: ease-out;
  }
  .info-modal-inner {
    height: 100%;
    box-sizing: border-box;
    overflow-y: scroll;
    padding: 8% 5%;
    p {
      margin-top: 1.75em;
    }
  }
  .info-back {
    content: '';
    display: block;
    cursor: pointer;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 20001;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.2s;
    transition-timing-function: ease-out;
  }
}
.is-viewing-modal {
  .information {
    height: auto;
    display: block;
    .info-back {
      opacity: 1;
    }
  }
}
.viewing-modal-id-01 .info-modal-01,
.viewing-modal-id-02 .info-modal-02,
.viewing-modal-id-03 .info-modal-03,
.viewing-modal-id-04 .info-modal-04,
.viewing-modal-id-05 .info-modal-05 {
  visibility: visible;
  opacity: 1;
}
.sumamry {
  position: absolute;
  bottom: 4%;
  left: 4%;
  z-index: 10000;
  color: #fff;
  text-shadow: 0 1px 6px rgba(0,0,0,0.3);
  h1 {
    font-size: 150%;
  }
  p {
    font-size: 80%;
  }
}
